@media only screen and (-webkit-min-device-pixel-ratio: 4),
        (min-width: 320px) and (orientation: portrait) {

    /** NavigationMenu Section **/

    nav ul li a {
        font-size: 12px;
    }   

    /** Intro Section **/

    .intro .introDescription h1 {
        font-size: 30px;   
    }

    .intro .introDescription .introHeaderUnderneath {
        font-size: large;
    }
    
    .introDescription p {
        font-size: 8.5px;  
    }

    .intro .introDescriptionOuter .logoL > *, .intro .introDescriptionOuter .logoR > * {
        max-height: 20%;
    }

    .sliderWrapper {
        width: 95vw;
    }

    /** Food Menu Section **/

    .foodMenuItem {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .foodMenuItemDescriptions {
        order: 2;
    }

    .foodMenuItemImages {
        order: 1;
    }

    .foodMenuItem:nth-child(odd) .foodMenuItemDescriptions{
        margin-left: 0;
    }
    
    .foodMenuItem:nth-child(even) .foodMenuItemDescriptions{    
        margin-right: 0;
    }

    .foodMenu div:nth-child(even) .foodMenuItemDescriptions.flow {
        animation: foodMenuItemDescriptionsFlow 0.5s 2s, foodMenuItemDescriptionsExpand 0.4s 2.25s;
        animation-fill-mode: forwards, forwards;
        animation-timing-function: linear, linear; 
    }
    
    .foodMenu div:nth-child(odd) .foodMenuItemDescriptions.flow {
        animation: foodMenuItemDescriptionsFlow 0.5s 2s, foodMenuItemDescriptionsExpand 0.4s 2.25s;
        animation-fill-mode: forwards, forwards;
        animation-timing-function: linear, linear; 
    }

    @keyframes foodMenuItemDescriptionsExpand {
        to {max-width: 90vw;}
    }    

    /** AboutUs Section **/

    .aboutUs {
        height: auto;
        gap: 4vh;
    }

    .aboutUsDescription p {
        font-size: 15px;
        max-width: 100vw;
    }

    .aboutUsDescription {
        flex-direction: column;    
    }

    .flipBoxWrapper {
        flex-direction: column;
        gap: 2vh;
    }

    .flipBoxInner { 
        width: 90vw;
    }

    .flipBoxFront div {
        font-size: x-large; 
    }

    /** Contact Section **/

    .contact div {  
        font-size: 12px;    
    }

    .backToTopBtn:hover {
        all: revert-layer;
    }
}