@media (orientation: portrait) and (min-width: 370px) {

    /** NavigationMenu Section **/

    nav ul li a {
        font-size: 12px;
    }   

    /** Intro Section **/

    .intro .introDescription h1 {
        font-size: 35px;   
    }

    .intro .introDescription .introHeaderUnderneath {
        font-size: large;
    }
    
    .introDescription p {
        font-size: 10px;  
    }

    .intro .introDescriptionOuter .logoL > *, .intro .introDescriptionOuter .logoR > * {
        max-height: 20%;
    }

    /** Food Menu Section **/

    .foodMenuItem {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .foodMenuItemDescriptions {
        order: 2;
    }

    .foodMenuItemImages {
        order: 1;
    }

    .foodMenuItem:nth-child(odd) .foodMenuItemDescriptions{
        margin-left: 0;
    }
    
    .foodMenuItem:nth-child(even) .foodMenuItemDescriptions{    
        margin-right: 0;
    }

    @keyframes foodMenuItemDescriptionsExpand {
        to {max-width: 80vw;}
    }    

    /** AboutUs Section **/

    .aboutUs {
        height: auto;
    }

    .aboutUsDescription p {
        font-size: 15px;
        max-width: 100vw;
        /*border:1.5px solid rgb(66, 7, 175);*/
    }

    .aboutUsDescription {
        flex-direction: column;
        /*border:1.5px solid tan;*/
    }

    .flipBoxWrapper {
        flex-direction: column;
        height: 90vh;
    }

    /** Contact Section **/

    .contact div {  
        font-size: 12px;    
    }
}