* {
    margin: 0;
    padding: 0;
}
wrapper {
    display: flex;
}
section {
    width: 100%;
    height: 100vh;
}
section.NaviSection { 
    display: flex;
    position: absolute;
    align-items: center;
    height: 15vh;
    box-shadow: 0 5px 5px  #888;
    background-image: linear-gradient(#795944, rgba(255 255 230)); 
}
.NaviSection img {
    height: 15vh;
}
nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: end;   
}
nav ul  li {
    list-style-type: none;
    font-size: 25px;
}
nav ul li a {
    margin: 15px;
    text-decoration: none;
    color: black;
    font-size: 22px;
}
.burger {
    transform: translateX(260%);
    position: fixed;
    z-index: 9;
    top: 40px;
    right: 40px;
    font-size: 40px;
    line-height: 50px;
    transition: .3s linear;
}
.burger.show {
    transform: translateX(0);
}
.burger:hover {
    cursor: pointer;
}
.fa-solid {
    display: none;
    color: #795944;
}
i.show {
    display: block;
}
ul.show {
    position: fixed;
    z-index: 8;
    top: 5vh;
    right: 5vw;
}
ul.show li a {
    color: #795944;
}
.AboutMeSection {
    position: absolute;
    top: 16vh;
}
.AboutMeSection img {
    width: 100%;
    height: 100vh;  
    position: absolute;
}
h1 {
    position: absolute;
    top: 14vh;
    left: 14vw;
    font-size: 2.5rem;
    border: 1px solid white;
    width: 15vw;
    padding: 14px;
}
.AboutMeSection p {
    position: absolute;
    top: 40vh;
    width: 40vw;
    margin-left: 50px;
    font-size: 1.5rem;
    color: #e3e2c5;
}
.MenuSection {
    top: 116vh;
    position: absolute;
    background-color: #d2c1af;
}
h2 {
    text-decoration: underline 2px gold;
    text-underline-offset: 10px;
    text-align: center;
    margin-top: 15px;
}
p {
    margin-top: 8vh;
    margin-left: 23vw;
    font-size: 2rem;
}
.ContactSection {
    position: absolute;
    top: 216vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
h3 {
    font-size: 2rem;
}
span {
    font-size: 1.5rem;
    position: relative;
    left: 24vw;
}
a {
    text-decoration: none;
    color: black;
}
.Insta span {
    position: relative;
    top: -7vh;
    left: 4vw;
}
.Fb {
    position: relative;
    left: -0.5vw;
}
.Fb span {
    position: relative;
    top: -7vh;
    left: 4vw;
}
.Phone {
    position: relative;
    left: 1vw;
}
.Phone span {
    position: relative;
    top: -2vh;
    left: 6.5vw;
}
.Mail {
    position: relative;
    left: 5.5vw;
}
.Mail span {
    position: relative;
    bottom: 2vh;
    left: 6vw;
}
@media (orientation: portrait) and (min-width: 370px) {
    .NaviSection img {
        height: 10vh;
    }
    nav ul {
        top: 6vh;
    }
    nav ul li a {
        font-size: 1.1rem;
        margin: 10px;
    }
    ul.show {
        right: 17vw;
    }
    .AboutMeSection img {
        width: 100%;
        height: 35vh;  
        position: absolute;
    }
    h1 {
        top: 10vh;
        left: 7vw;
        font-size: 2.2rem;
        width: 40vw;
        padding: 9px;
    }
    .AboutMeSection p {
        top: 40vh;
        width: 95vw;
        margin-left: 3vw;
        font-size: 1.5rem;
        color: black;
    }
    .AboutMeSection {
        background-color: antiquewhite;
        height: 103vh;
    }
    .MenuSection {
        top: 119vh;
    }
    h2 {
        text-decoration: underline 2px gold;
        text-underline-offset: 10px;
        text-align: center;
        margin-top: 6vh;
    }
    p {
        margin-top: 7vh;
        margin-left: 11vw;
        font-size: 1.2rem;
    }
    span {
        left: 8vw;
    }
    .ContactSection {
        top: 219vh;
    }
    .Insta {
        position: relative;
        bottom: 3vh;
    }
    .Insta img,.Fb  img {
        height: 8vh;
    }
    .Insta span, .Fb span {
        top: -3vh;
    }
    .Fb {
        left: -1.5vw;
        bottom: 10vh;
    }
    .Phone {
        left: 5vw;
        bottom: 16vh;
    }
    .Mail {
        left: 2.5vw;
    }
    .Mail img {
        position: relative;
        bottom: 21vh;
        left: 37vw;
    }
    .Mail span {
        left: -7vw;
        bottom: 14vh;
    }
    
}