/** Whole site **/
:root {
    --section-height: 100vh;
    --navigationMenu-height: 7vh;
    --mobile-font-size: 16px;
    --site-font-size: 20px;
}

*{
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--site-font-size);
}

section {
    width: 100%;
    height: var(--section-height);
    background-color: black;   
    color: tan; 
    overflow: hidden;
}

.mainWrapper {
    position: flex;
    flex-direction: column;
}

h2 {
    position: relative;
    display: flex;
    justify-content: center;  
}

/** NavigationMenu Section **/

/* Menu */

.navigationMenu { 
    display: flex;    
    align-items: center;
    height: var(--navigationMenu-height);
    z-index: 1;
    position: sticky;
    top: 0;
    border-bottom:none;
}

nav 
{
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: end;   
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    margin: 1vw;
    text-decoration: none;
    font-size: 1rem;
    color: inherit;
    padding: 2px 20px 2px 20px;
    border: 1px solid tan;
    border-radius: 25% / 100%;
}

nav ul li a:hover {
    background-color: khaki;
    color: black;
}

/* Burger */

.burger {
    transform: translateX(260%);
    position: fixed;
    z-index: 9;
    top: 40px;
    right: 40px;
    font-size: 40px;
    line-height: 50px;
    transition: .3s linear;
}

.burger.show {
    transform: translateX(0);
}

.burger:hover {
    cursor: pointer;
}

.fa-solid {
    display: none;
    color: #795944;
}

i.show {
    display: block;
}

ul.show {
    position: fixed;
    z-index: 8;
    top: 5vh;
    right: 5vw;
}

ul.show li a {
    color: #795944;
}

/** Intro Section **/

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: calc(var(--section-height) - var(--navigationMenu-height));
}

.introDescriptionOuter {
    position: relative;
    display: flex;
    flex-direction: row;    
    overflow: hidden;   
    flex: 1;    
    width: 100%;
    overflow: hidden;     
}

.introDescriptionOuter div:nth-child(odd) {
    width: 20%;
    overflow: hidden;
}

.introDescription {
    position: relative;    
    display: flex;  
    flex-direction: column;  
    overflow: hidden;
    margin: auto;
    width: 60%;
    font-size: calc(2.5*var(--site-font-size))
}

.intro .introDescription h1 {
    font-size: 1.3em;
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;   
}

.intro .introDescriptionOuter .logoL > *, .intro .introDescriptionOuter .logoR > * {
    max-height: 50%;
}

.intro .introDescriptionOuter .logoL > * {
    margin-left: auto;
    margin-right: 10px;
}

.intro .introDescriptionOuter .logoR > * {
    margin-left: 10px;
}

.intro .introDescriptionOuter .logoL, .intro .introDescriptionOuter .logoR {
    display: flex;
    align-items: center;
    position: relative;    
}

.intro .introDescription .introHeaderUnderneath {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
}

.introDescription p {
    position: relative;
    font-size: 0.4em;
    text-align: center;   
}

.intro .goToMenu{
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    padding: 2px 20px 2px 20px;
    border: 1px solid tan;
    text-decoration: none;
    color: inherit;
    border-radius: 25% / 100%;
    font-size: 0.4em;
}

.intro .goToMenu:hover{
    background-color: khaki;
    color: black;
}

/* Slider */

.carousel li img, .carousel li, .carousel {
    width: 100%;
  }
  
  .carousel-wrapper, .carousel ul {
    display: flex;
  }
  
  .carousel ul {
    align-items: center;
    justify-content: center;
  }
  
  .carousel-wrapper {
    position: relative;
    max-width: 600px;
    margin-bottom: 40px;
  }
  .carousel-wrapper input {
    display: none;
  }
  
  .carousel {
    overflow: hidden;
    border-radius: 15px;
  }
  .carousel ul {
    position: relative;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 500%;
    transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  }
  .carousel li img {
    border-radius: 15px;
  }
  
  .nav-dot {
    position: absolute;
    cursor: pointer;
    margin-left: -7.5px;
    bottom: -12.5px;
    width: 15px;
    height: 15px;
    opacity: 0.5;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
  .nav-dot:hover {
    opacity: 0.8;
    transform: scale(1.2);
  }
  .nav-dot:active {
    transform: scale(0.9);
  }
  
  .nav-dot[for=slide1] {
    left: 40%;
  }
  
  #slide1:checked ~ .carousel ul {
    left: 0%;
  }
  #slide1:checked ~ .nav-dot[for=slide1] {
    opacity: 1;
  }
  
  .nav-dot[for=slide2] {
    left: 45%;
  }
  
  #slide2:checked ~ .carousel ul {
    left: -100%;
  }
  #slide2:checked ~ .nav-dot[for=slide2] {
    opacity: 1;
  }
  
  .nav-dot[for=slide3] {
    left: 50%;
  }
  
  #slide3:checked ~ .carousel ul {
    left: -200%;
  }
  #slide3:checked ~ .nav-dot[for=slide3] {
    opacity: 1;
  }
  
  .nav-dot[for=slide4] {
    left: 55%;
  }
  
  #slide4:checked ~ .carousel ul {
    left: -300%;
  }
  #slide4:checked ~ .nav-dot[for=slide4] {
    opacity: 1;
  }
  
  .nav-dot[for=slide5] {
    left: 60%;
  }
  
  #slide5:checked ~ .carousel ul {
    left: -400%;
  }
  #slide5:checked ~ .nav-dot[for=slide5] {
    opacity: 1;
  }
  
  .right-arrow, .left-arrow {
    display: none;
    position: absolute;
    cursor: pointer;
    font-weight: bolder;
    text-shadow: 0 0 7.5px rgba(0, 0, 0, 0.7);
    top: 50%;
    z-index: 1;
    opacity: 0.7;
    margin-top: -25px;
    height: 50px;
    font-size: 3.125rem;
    transition: 0.2s;
  }
  .right-arrow:hover, .left-arrow:hover {
    opacity: 1;
    transform: scale(1.2);
  }
  .right-arrow:active, .left-arrow:active {
    transform: scale(0.9);
  }
  
  .left-arrow {
    left: 15px;
  }
  
  .right-arrow {
    right: 15px;
  }
  
  #slide1:checked ~ .left-arrow[for=slide5], #slide1:checked ~ .right-arrow[for=slide2] {
    display: block;
  }
  
  #slide2:checked ~ .left-arrow[for=slide1], #slide2:checked ~ .right-arrow[for=slide3] {
    display: block;
  }
  
  #slide3:checked ~ .left-arrow[for=slide2], #slide3:checked ~ .right-arrow[for=slide4] {
    display: block;
  }
  
  #slide4:checked ~ .left-arrow[for=slide3], #slide4:checked ~ .right-arrow[for=slide5] {
    display: block;
  }
  
  #slide5:checked ~ .left-arrow[for=slide4], #slide5:checked ~ .right-arrow[for=slide1] {
    display: block;
  }

/** Food Menu Section **/

.foodMenu {
    position: relative;
    text-align: center;
    height: auto;
    border-bottom:1.5px solid tan;
    padding-bottom: 2vh;
}

.foodMenuHeader {   
    margin: auto; 
}

.foodMenuHeader img {
    width: 25%; 
}

.foodMenuItemMainHeader {
    font-size: 1.5rem;
    color: gold;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.foodMenuItem {
    height: fit-content;
    visibility: hidden;
    display: block;    
}

.foodMenuItem:nth-child(odd) {
    direction: rtl;
}

.foodMenuItem:nth-child(odd) .foodMenuItemDescriptions{
    margin-left: 30px;
    transform: translateX(100vw);
}

.foodMenuItem:nth-child(even) .foodMenuItemDescriptions{    
    margin-right: 30px;
    transform: translateX(-100vw);
}

.foodMenuItemHeader {
    font-size: 1rem;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    text-align: left;
}

.foodMenuItemDetails {
    font-style: italic;
    font-weight: normal;
    vertical-align: middle;
}

.foodMenuItemDescriptions::before {
    background-image: url("Images/logo_final_2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*filter: grayscale(80%);*/
    opacity: 0.4;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 10vw;
}

.foodMenuItemDescriptions {
    vertical-align: middle;
    display: inline-block;
    visibility: hidden;
    direction: ltr;
    max-width: 0;
    position: relative;
    min-height: 20vh;
}

.foodMenuItemDescriptionsNoFlow {
    display: inline-block;
    visibility: hidden;
    direction: ltr;
    text-align: center;
    animation: fadein 2s;
}

.foodMenuItemDescriptionsWrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    min-height: inherit;
    min-width: inherit;
}

.foodMenuItemDescriptions p {
    white-space: nowrap;
    text-align: left;
}

.foodMenuItemDescriptions p:nth-child(even) {
    margin-bottom: 1vh;
}

.foodMenu div:nth-child(even) .foodMenuItemDescriptions.flow {
    animation: foodMenuItemDescriptionsFlow 1s 2s, foodMenuItemDescriptionsExpand 0.4s 2.75s;
    animation-fill-mode: forwards, forwards;
    animation-timing-function: linear, linear; 
}

.foodMenu div:nth-child(odd) .foodMenuItemDescriptions.flow {
    animation: foodMenuItemDescriptionsFlow 1s 2s, foodMenuItemDescriptionsExpand 0.4s 2.75s;
    animation-fill-mode: forwards, forwards;
    animation-timing-function: linear, linear; 
}

@keyframes foodMenuItemDescriptionsExpand {
    to {max-width: 20vw;}
}

@keyframes foodMenuItemDescriptionsFlow {
    to {transform: translateX(0); visibility: visible;}
}

.foodMenuItemImages {
    position: relative;
    display: inline-block;
    height: inherit;
    direction: ltr;    
}

.foodMenuItemImages img {
    display: none;
    vertical-align: middle;
    max-height: 40vh;    
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.foodMenuItem.showAfterScrollOn, 
.foodMenuItem.showAlways, 
.foodMenuItemDescriptionsNoFlow.showAfterScrollOn,
.foodMenuItemImages.showAfterScrollOn img:first-child {
    visibility: visible;
}

.foodMenuItemImages img:first-child {
    display: inline-block;
    visibility: hidden;    
}

.foodMenuItemImages.showAfterScrollOn img {
    animation: fadein 2s; 
}

/** AboutUs Section **/

.aboutUs {
    position: relative;
    text-align: center;
    display: flex;      
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.aboutUsDescription {
    display: flex; 
    align-items: center;
    overflow: hidden;
    gap: 2vh;
}

.aboutUsDescription img {
    max-width: 50vw;
}

.aboutUsDescription p {
    text-align: left;
    font-size: 1rem;
    margin-left: 2vh;
    margin-right: 2vh;
    max-width: 30vw;
}

.aboutUsCommitments {
    font-size: 1.5rem;
}

/* Flip Box */

.flipBoxWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    width: 75%;
    height: auto;
    justify-content: space-evenly;
}
  
.flipBoxInner {    
    width: 25%;
    height: 28vh;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.flipBoxFront::after {
    z-index: 10;
    position: absolute;
    color: white;
    font-size: 2rem;
    margin: auto; 
    opacity: 0.7; 
    content: "Click on me";
}

.flipBoxFront, .flipBoxBack {
    position: absolute; 
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    height: 100%; 
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.flipBoxFront {        
    transition-delay: 0.6s;
    visibility: visible;        
}

.flipBoxFront div {
    z-index: 10;
    position: absolute;
    color: white;
    font-size: 1.3rem;
    bottom: 1vh;
    margin-left: auto;
    margin-right: auto;   
}

.flipBoxFront img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.flipBoxBack {
    color: white;
    transform: rotateY(180deg);
    word-wrap: break-word;
    font-size: 1rem;
}

/** Contact Section **/

.contact {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: auto;    
    justify-content: center;   
    padding-bottom: 2vh;
    padding-top: 4vh; 
}

.contact div {
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items:center;    
    font-size: 1.25rem;    
}

.contact .visitUs, .contact .contactUs {
    margin-right: 3vh;
    margin-left: 3vh;
}

.contact a {
    text-decoration: none;
    color: inherit;    
}

.contact p {
    text-decoration: underline;
    margin-top: -1vh;
    font-size: 0.875rem;
    
}

.contactUs p {
    margin-right: 1vh;
}

.visitUs p {
    margin-right: 2vh;
}

.instagram img {
    margin-right: 1vh;
}

.facebook img {
    margin-left: 1vh;
}

.instagram img, .facebook img, .email img {
    vertical-align: middle;
    max-height: 35px;
    min-width: 35px;
}

.email span {    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0.875rem;
}

span.email:before {
    content: attr(data-website) "\0040" attr(data-user);
    unicode-bidi: bidi-override;
    direction: rtl;   
}

/** Footer section **/

.footer {
    position: relative;
    height: auto; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: auto;    
    justify-content: center; 
    width: 100%;
    background-color: black;   
    color: tan; 
    overflow: hidden;       
}

.footer p {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

/** Back To Top Button **/

.backToTopSite {
    position: fixed;
    bottom: 6vh;
    right: 3vw;
    z-index: 2;   
}

.backToTopBtn {
    border: none;
    background-color: tan;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1rem;
    height: 30px;
    width: 30px; 
}

.backToTopBtn:hover {
    background-color: #555;
}